.customize-control-inputs-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.customize-control-value-type-container{
    display: flex;
    gap: 4px;
}

.customize-control-separator{
    margin: 18px 0 16px 0;
}

.customize-multiple-values-inputs{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0.7rem;
    color: #747474;
    text-transform: uppercase;
}

/* .wp-core-ui select{
border: none;
} */



#accordion-panel-widgets {
    margin-bottom: 2rem;
}

#accordion-section-custom_css {
    margin-top: 2rem;
}

#customize-control-control_about_me_page_hardskills_card_one_list {
    padding-bottom: 12px;
    border-bottom: 1px solid #dcdcde;
}

/* Icones de menu*/

h3.accordion-section-title {
    display: flex;
    align-items: center;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 44px;
}

li#accordion-panel-widgets>h3.accordion-section-title:before {
    content: "\f116";
    font-family: dashicons;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 100;
    margin-right: 3px;
}

li#accordion-panel-nav_menus>h3.accordion-section-title:before {
    content: "\f333";
    font-family: dashicons;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 100;
    margin-right: 3px;
}

li#accordion-panel-panel_about_me>h3.accordion-section-title:before {
    content: "\f105";
    font-family: dashicons;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 100;
    margin-right: 3px;
}

li#accordion-section-static_front_page>h3.accordion-section-title:before {
    content: "\f108";
    font-family: dashicons;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 100;
    margin-right: 3px;
}

li#accordion-section-custom_css>h3.accordion-section-title:before {
    content: "\f499";
    font-family: dashicons;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 100;
    margin-right: 3px;
}

li#accordion-panel-panel_blocks>h3.accordion-section-title:before {
    content: "\f12b";
    font-family: dashicons;
    padding: 0;
    font-size: 1.6rem;
    font-weight: 100;
    margin-right: 3px;
}



li#customize-control-control_block_section_max_width_type {
    /* display: flex;
    align-items: center; */
    padding-bottom: 12px;
    border-bottom: 1px solid #dcdcde;
}

#_customize-input-control_block_section_max_width_type {
    width: 64px;
}